<p style="text-align: center;">*** BookStore ***</p>

<div style="text-align: center;">
    <img src="../../../assets/images/098e1a95-c754-4a8b-b7da-acedc702aae1.jpg" 
    alt="" style="width: 5cm;height: 3cm;" >
</div>

    <p style="text-align: center;"><strong>idBook</strong> : {{book.idBook}}</p>

    <p style="text-align: center;"><strong>ProductReference</strong> : {{book.productReference}}</p>

    <p style="text-align: center;"><strong>ProductDesignation</strong> : {{book.productDesignation}}</p>

    <p style="text-align: center;"><strong>QuatiteInStock</strong> : {{book.quatiteInStock}}</p>

    <p style="text-align: center;"><strong>BookTitle</strong> : {{book.bookTitle}}</p>

    <p style="text-align: center;"><strong>BookAuthor</strong> : {{book.bookAuthor}}</p>

    <p style="text-align: center;"><strong>DateEdition</strong> : {{book.dateEdition|date}}</p>


               <br><br>
<p style="text-align: center;">*** BookStore ***</p>